body {
    background-color: #222222;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #ecf1ce;
    padding: 20px;
    width: 96%;
    height: 20px;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
h1 {
    color: #ecf1ce;
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    font-weight: 10;
    line-height: 25px;
}